/* Общие стили для всего документа */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Стили для заголовков */
h2 {
    text-align: center;
    color: #333;
}

/* Стили для формы */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px; /* Уменьшено значение padding */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для групп элементов формы */
.form-group {
    margin-bottom: 10px; /* Уменьшено значение margin-bottom */
}

/* Стили для меток формы */
label {
    display: block;
    margin-bottom: 3px; /* Уменьшено значение margin-bottom */
    color: #555;
    font-size: 0.9rem; /*Немного уменьшим размер шрифта меток*/
}

/* Стили для полей ввода и текстовых областей */
input[type="number"],
select {
    width: 100%;
    padding: 8px; /* Уменьшено значение padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; /* Уменьшен размер шрифта */
}

/* Стили для кнопок отправки */
button {
    display: block;
    width: 100%;
    padding: 8px; /* Уменьшено значение padding */
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px; /* Уменьшен размер шрифта */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: darkorange;
    }

/* Стили для успешного сообщения после отправки формы */
.success-message {
    text-align: center;
    color: #28a745;
    margin-top: 15px; /* Уменьшено значение margin-top */
}

/* Увеличиваем отступы между элементами навигации */
.nav-item {
    margin-right: 40px;
}

    /* Убираем отступ у последнего элемента навигации */
    .nav-item:last-child {
        margin-right: 0;
    }

/* Добавляем отступ слева */
.left-margin {
    margin-left: 20px;
}

/* Уменьшаем отступы в подвале */
.footer {
    padding: 2px;
}
